body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    color: #303030;
}

#topUI, #bottomUI {
    width: 100%;
    background-color: #d0d0d0;
    box-sizing: border-box;
    display: none;
}

#combatAreaCanvas {
    justify-content: center;
    align-items: center;
    background-color: #030303;
    display: none;
}